<app-filter (updateFilterCriteria)="onUpdatedFilterCriteria($event)"></app-filter>

<div *ngIf="errorLoadingSalons" class="error">There was an error loading the salons!</div>

<div *ngIf="displayedSalons" class="salons-list">
  <div class="list-header">
    <div>Salon</div>
    <div>Served genders</div>
    <div>City</div>
  </div>
  <div class="salon-container" *ngFor="let salon of displayedSalons">
    <div class="salon-header" [ngClass]="{'selected': selectedSalonId === salon.id}" (click)="showSalonDetails(salon.id)">
      <div>{{salon.name}}</div>
      <div>{{salon.genderServed}}</div>
      <div>{{salon.address.city}}</div>
    </div>
    <app-salon-details *ngIf="selectedSalonId === salon.id" [salon]="salon"></app-salon-details>
  </div>
</div>
