:host {
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: #969696;
  background-color: white;
}

.details-info {
  width: 66%;
}

.details-address {
  width: 33%
}

h4 {
  color: #484e54;
  margin: 10px 0;
}
