<div class="search-form">
  <!--suppress CheckImageSize -->
  <img src="../../../assets/scissor-and-comb.svg" width="50" height="50" class="logo">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <label>Salon <input [formControl]="searchForm.controls.salonName" type="text"></label>
    <label><input [formControl]="searchForm.controls.gender" type="radio" value="female">&nbsp;female</label>
    <label><input [formControl]="searchForm.controls.gender" type="radio" value="male">&nbsp;male</label>
    <label><input [formControl]="searchForm.controls.gender" type="radio" value="both">&nbsp;both</label>
    <button type="submit">Search</button>
  </form>
</div>

<div *ngIf="salonsLoadingError$ | async" class="error">There was an error loading the salons!</div>

<div *ngIf="displayedSalons" class="salons-list">
  <div class="list-header">
    <div>Salon</div>
    <div>Served genders</div>
    <div>City</div>
  </div>
  <div class="salon-container" *ngFor="let salon of displayedSalons">
    <div class="salon-header" [ngClass]="{'selected': selectedSalonId === salon.id}" (click)="showSalonDetails(salon.id)">
      <div>{{salon.name}}</div>
      <div>{{salon.genderServed}}</div>
      <div>{{salon.address.city}}</div>
    </div>
    <app-salon-details *ngIf="salon.id == salonDetails?.id" [salonDetails]="salonDetails"></app-salon-details>
    <div *ngIf="selectedSalonId === salon.id && salonDetailsLoadingError$ | async" class="error">
      There was an error loading the salon details!
    </div>
  </div>
</div>
